{{ $style := resources.Get "css/spinning-swastika.css" | resources.Minify }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Using the counter-clockwise swastika (卍) which is the traditional auspicious form -->
<div class="spinning-swastika-container">
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
  <div class="spinning-swastika">卍</div>
</div> 